{% block vhdev_twilio_validate_button %}
    <div class="vhdev-twilio-validate-button" style="margin-top: 20px;">
        <sw-button
            variant="primary"
            :disabled="buttonDisabled"
            :isLoading="isLoading"
            @click="validateCredentials">
            <sw-icon name="regular-check-circle" v-if="isValidated && !isLoading"></sw-icon>
            {{ $tc('vhdev-sms.validation.buttonText') }}
        </sw-button>
        <p style="margin-top: 10px; font-size: 12px; color: #52667a;">
            {{ $tc('vhdev-sms.validation.buttonHelp') }}
        </p>
    </div>
{% endblock %}
